@charset "utf-8";

.wrapper {
  padding: 32px 0;
  width: 100%;
  background-color: #f2f6f7;
}
.inner {
  margin: 0 auto;
  width: 640px;
}
.main_title {
  color: #545658;
  text-align: center;
  margin-bottom: 23px;
  font-size: 24px;
}
.main_inner {
  padding: 48px 64px;
  background-color: #fff;
  margin-bottom: 32px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}
 .sns_account {
   display: flex;
   margin-bottom: 8px;
 }
 .sns_box:last-child {
   margin-left: 8px;
 }
.is_halfwidth {
  width: 50%;
}
.is_fullwidth {
  width: 100%;
}
.is_facebook {
  color: #fff;
  background-color: #3b5999;
}
.is_google {
  color: #dd4b49;
  background-color: #fff;
}
.button {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  transition: .3s;
  padding: 13px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.supplement_text {
  font-size: 12px;
  text-align: center;
  color: #949697;
}
.account_information {
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.account_information::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}
.account_information_text {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  font-size: 12px;
  color: #949697;
  background-color: #fff;
}
.row {
  margin-bottom: 20px;
}
.name_box {
  display: flex;
}
.name {
  margin-left: 16px;
}
.name:first-child {
  margin-left: 0;
}
.label_text {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  color: #545658;
}
.alert {
  color: #dd4b39;
}
.input_init {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}
.input_area {
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
}
.gender_contents {
  display: flex;
  color: #545658;
  font-size: 16px;
}
.gender_content {
  margin-left: 15px;
  cursor: pointer;
}
.gender_content:first-child {
  margin-left: 0;
}
.gender_content input, .course input {
  display: none;
}
.gender_content span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.gender_content span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}
.gender_input:checked + span::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}
.select_area {
  position: relative;
}
.select_area::after {
  content: "";
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}
.course_option {
  margin-bottom: 10px;
  color: #545658;
  font-size: 16px;
}
.course_option:last-child {
  margin-bottom: 0;
}
.course_option_text {
  position: relative;
  padding-left: 25px;
}
.course_option_text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}
.course_option input:checked + .course_option_text::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}
.remarks .input_area {
  height: 100px;
}
.submit_btn {
  padding: 13px;
  background-color: #01bfbd;
  color: #fff;
}
.agreement {
  font-size: 12px;
  line-height: 16px;
}
.link_color {
  color: #01bfbd;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
.foot-part {
  text-align: center;
}
.foot-part p, .resend_mail {
  margin-top: 8px;
  line-height: 16px;
  font-size: 12px;
}